.whole{
  text-align: center;
  width: 250px;
  height: 250px;
  background-color: #f0f0f0;
  outline: 5px solid red;       
  outline-offset: -5px;
  padding: 10px;

}

.counter{
  margin-top: 10px;
   text-align: center;
  width: 250px;
  height: 100px;
  background-color: #f0f0f0;
  outline: 5px solid red;       
  outline-offset: -5px;
  padding: 10px;


}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}